# =====================================================
#  MODELO DE VARIÁVEIS DE AMBIENTE
#  1. Copie este arquivo e renomeie para  .env
#  2. Preencha com suas credenciais reais
#  3. NUNCA suba o .env para o GitHub!
# =====================================================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=catalogo_jogos
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
